*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }

 /* Header Bar Start */
nav ul {
    float: right;
}
  
nav li {
    display: inline;
    float: left;
}
  
nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 25px;
    transition: 0.3s all;
}
  
nav a:hover {
    background: rgb(255, 0, 0);
}
  
.nameTitle {
    float: left;
    color: rgb(0, 0, 0);
    font-size: 50px;
    line-height: 50px;
    transition: 0.7s all;
}
  
.alt-header .nameTitle {
    color: #000;
}
  
body.header-fixed .nameTitle {
    font-size: 30px;
}
  
.alternate {
    background: #000;
    color: #fff;
}
  
section .inner {
    padding-top: 200px;
}
   /* Header Bar End */

body{
    background-size: cover;
    background-color: #455A71;
    margin:0;                   /* no white border around browser window */
    font-size: 20px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

#title {
    font-size: 2.5rem;
    letter-spacing: 0.2rem; /* spaces out letters a bit */
    white-space: nowrap;  /* don't allow the title to wrap */
    text-align: center;
}

#titleNav {
    position: fixed; 
    width: 100%; /* changing to position fixed, you need to add 100% if you want to fill the width */
  
    /* the next two rules will layout the title followed by the nav side by side in a row */
    display:flex; 
    flex-direction: column;
    justify-content: space-between; /* flex attribute will push title left and nav right, with "space between" */
  
    padding: 1rem;
    background-color: #455A71;
  
    /* give a little "3D"  effect to the edges of titleNav and footer */
    box-shadow: 0px 0px 5px black;  
}

#content {
    padding: 1rem;
    padding-top: 8rem; /* make sure fixed titleNav does not cover up any content */
    padding-bottom: 3rem; /* make sure fixed footer doesn't cover up any content */
    font-size: 1.15rem;
    line-height: 2rem; 
}
  
.indent {
    margin-left: 1.5rem;
}
  
pre {
    margin-bottom:1.5rem;
    margin-right: 2rem;
    margin-left: 1rem;
    line-height:1.25rem;
    font-size: 0.95rem;
  
    padding:0.5rem;
    padding-left:0rem;
    background-color: #455A71; 
  
    border-radius: 0.25rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.4);
}

#container{
    margin : 20px auto;
    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}

#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: normal;
    width:150px;
    height:200px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:280px;
    top:50px;
    color : lightgrey;
}

#start:hover{
    border: 3px solid #152c44;;
    color : #152c44;;
}

#qImg{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}

#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 50px;
    padding : 10px
}

.choice{
    display: table;
    letter-spacing: 0.2rem;
    width : 300px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}

.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
    cursor: pointer;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}

#counter{ /* Bar & Number Counter */
    font-size: 3em;
    text-align: center;
    margin-top : 30px;
}

#btimeGauge{ /* Empty progress bar */
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-top : 10px;
    margin-left : 25px;
}

#timeGauge{ /* Colored progress bar */
    height : 10px;
    border-radius: 10px;
    background-color: rgb(4, 12, 88);
    margin-top : -10px;
    margin-left : 25px;
}

#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}

.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}

#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}

#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}

#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

/*desktop screen*/
@media only screen and (min-width: 55rem) { 

    /* in desktop the titleNav is not as tall, so less top margin needed to prevent titleNav from hiding top of for content */
    #content {
        padding: 1rem;
        padding-top:4rem; /* make sure fixed titleNav does not cover up any content */
        padding-bottom: 2rem; /* make sure fixed footer doesn't cover up any content */
        font-size: 1.15rem;
        line-height: 2rem; 
    }
    #title {
        font-size: 2.5rem;
        letter-spacing: 0.2rem; /* spaces out letters a bit */
        white-space: nowrap;  /* don't allow the title to wrap */
        text-align: center;
    }
    #titleNav {
        position: fixed; 
        width: 100%; /* changing to position fixed, you need to add 100% if you want to fill the width */
  
        /* the next two rules will layout the title followed by the nav side by side in a row */
        display:flex; 
        flex-direction: row;
        justify-content: space-between; /* flex attribute will push title left and nav right, with "space between" */
  
        padding: 1rem;
        background-color: #222222;
  
        /* give a little "3D"  effect to the edges of titleNav and footer */
        box-shadow: 0px 0px 5px black;  
    }
    
    #content {
        padding: 1rem;
        padding-top: 4.5rem; /* make sure fixed titleNav does not cover up any content */
        padding-bottom: 3rem; /* make sure fixed footer doesn't cover up any content */
        font-size: 1.15rem;
        line-height: 2rem; 
    }
  
    pre {
        margin-bottom:1.5rem;
        margin-right: 2rem;
        margin-left: 1rem;
        line-height:1.25rem;
        font-size: 0.95rem;
  
        padding:0.5rem;
        padding-left:0rem;
        background-color: #455A71; 
  
        border-radius: 0.25rem;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.4);
    }
  }